.Page1 {
    width:60%;
    padding:2em;
    
}

.Page1-img {
    float: right;
    width:18em;
    margin-left:0.5em;
    margin-bottom:0.5em;
  
}

.Page1-border {
    display: inline-block;
    height:1.5em;
    width: 1.5em;
    border-bottom:3px solid var(--main_color);
    position:relative;
    
}

.Page1 .left {
    border-left:3px solid var(--main_color);
    border-bottom-left-radius: 0.5em;
    right:2em;
}
.Page1 .right {
    float:right;
    border-right:3px solid var(--main_color);
    border-bottom-right-radius: 0.5em;
    left:2em;
}


@media (max-width:1200px) {
    .Page1 {
        width:100%;
    }
    
    .Page1 .right, .Page1 .left {
        margin:0.5em;
    }
}

@media (max-width:576px) {
    .Page1-img {
        width:13em;      
    }
}